.site-header {
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55);
  }

  @mixin atMedium {
    background-color: rgba($mainBlue, .30);
    position: fixed;

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right; 
    }
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    padding: 25px 36px;
    top: 0;
    transition: transform .5s ease-out;

    @mixin atMedium {
      left: 15%;
      transform: translateX(0%);

      .site-header--dark & {
        transform: scale(.57);
        top: -27px;
      }
    }
  }

  &__menu-icon {
    width: 20px;
    height: 16px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }
    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(45deg) scaleX(1.25) translateY(-2px);;
    }
    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(3px);
    }
  }

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    z-index: -10;
    position: relative;
    text-align: center;
    padding-top: 90px;
    transition: all .3 ease-out;

    @mixin atMedium {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
      display: block;
      padding-top: 0;
    }

    &--is-visable {
      transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
  }
}